#precarga_principal{
  background-color: #2b3250;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  #precarga_principal_terminada{ 
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  display: none; 
  }
  #precargador_principal {
  position: absolute;
  z-index: 0;
  opacity: 0.0001;
  }
  #precargador_principal img {
  height: 50px;
  }
  