/* version 2.0 de el template de bitacora de proyecto */
:root {
    --banner_background:  #155799;
    --white: #ffffff;
  }
body{
    margin: 0px;line-height: 1.5;
    font-family: sans-serif;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{color: #3b95e2;}
img {max-width: 100%;}
li{margin-bottom: 5px;}
/* sidenav */
mobile_nav{
    display: block;
    background: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 65px;
}

#open_nav_btn{
    height: 25px;
    width: auto;
    cursor: pointer;
    transition: 0.3s;
    top: 0;
    padding: 10px;
    color: white;
    background-color:  var(--banner_background);
    margin: 10px;
   
}

/* @media screen and (max-width:1500px) {
    #open_nav_btn{color: white;}
    mobile_nav{background-color: #111111fa;}
} */
@media screen and (max-width:1200px) {
    #open_nav_btn{color: white;}
    mobile_nav{background-color: #111111fa;}
}
#close_nav_btn{
    height: 25px;
    width: auto;
    margin: 20px;
    color: white;
    cursor: pointer;
}
#sidenav {
    z-index: 20;
    top: 0;
    position: fixed;
    left: 0;
    background-color: #111111fa;
    display: block;
    height: 100%;
    width: 350px;
    left: -350px;
    color: white;
}
#sidenav a{
    text-decoration: none;
}
#sidenav a:hover{
    text-decoration: underline;
}
/* sidenav open */
.sidenav_open  #sidenav{left: 0px!important;}
.sidenav_open #open_nav_btn{display: none;}
.sidenav_open #main{padding-left: 400px;}
.sidenav_open  banner{ padding-left: 350px; }
/* sidenav open  mobile and tablet*/
@media screen and (max-width:1500px) {
    .sidenav_open #main{
        /* padding: 50px; */
         padding: 25px;
        transition: 0.3s;
        padding-top: 0.5px;
    }
    .sidenav_open  #sidenav{transition: 0.3s;}
}
@media screen and (max-width:1200px) {     .sidenav_open #main{
        /* padding: 50px; */
         padding: 25px;
        transition: 0.3s;
         padding-top: 65px;
    }
}

    banner{
      
        height: 230px;
        /* display: grid; */
        /* display: inline-grid; */
        padding-left: 350px;
        display: block;
        overflow: hidden;
        width: inherit;
        padding: 0px;
      /*   transition: 0.3s; */
       
    }
    banner_content{
        background-color:  var(--banner_background);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: 0.3s;
       
    }
    banner_content h1{ 
        text-align: center; color: white;font-size: 2.3em;
        margin-top: 2rem;
        margin: 0.97em 0;
    }
    @media screen and (max-width:1500px) {
        .sidenav_open  banner{ padding-left: 0px; }
    }
    @media screen and (max-width:1200px) {
    #banner +  #main {padding-top: 1px;}
    #banner{   
         margin-top: 65px;
         padding: 20px;
         background-color:  var(--banner_background);
         }
     

         banner_content{ background-color: transparent;}
        }
/* main */
main{
    background-color: white;
    max-width: 64rem;
    padding: 50px;
    margin: 0 auto;
    font-size: 1.1rem;
    display: block;
    padding-top: 0.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #606c71;
}
@media screen and (max-width:1200px) { 

  
    #main{    padding: 25px;  padding-top: 65px; }
   /*  if  #main follows directly after #banner  */
  
}
 main h1{ 
    text-align: center; color: black;font-size: 2.3em;
    margin-top: 2rem;
    margin: 0.97em 0;
}
main h2 {
    padding-top: 20px;
    color: black;
}
main h3{
    color: #155799!important;
}
/* checklist */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
/* 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  
  cursor: text; /* remover para input interactivo */
}
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  pointer-events: none;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 19px;
  width: 20px;
  background-color: #eee;
  cursor: auto;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* prettyprint */
pre.prettyprint {
    padding: 50px!important;;
    border: none;
}
.prettyprint {background: #293546 !important;}



  