:root {
  --cartas-height: 25%;



  --dynamic-card-title-font-size: 0px;


  --cards-gap:0px;


  --card-height:95%;
  --tablero_height: 75%;
}
body{
  margin: 0px auto;
  font-family: "proxima-nova",sans-serif; 
  min-height: -webkit-fill-available;
}
#contenedor {
  height: 100%;
  width: 100%;
  background-color: #191525;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
aspect_ratio_container {
  /* background-image: url("full_background4.png");  */
  background-color: #37486a;
  background-size: cover;
  margin: auto;
  aspect-ratio: 25.7/9;
  height: 56.25vw;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: #ffffff;
}
aspect_ratio {
  /* background-image: url("1080.png");  */
  /* background-color: #37486a; */
  background-size: cover;
  display: block;
  height: 100%;
  aspect-ratio: 16/9;
  position: relative;
}







#tablero{
  /* background-color: #405378; */
  
  height: var(--tablero_height);
  width: 100%;
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-align: center;

  padding: 10px;
  padding-bottom: 25px;
    box-sizing: border-box;
}
#enemigos{
display: flex;
  /* padding: 10px; */

  width: 100%;
  height: 100%;
  gap: 10px;
}
enemigo {
  background-color: #ad3d3d;
/* 
  aspect-ratio: 7/9; */
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
/*   margin-right: 10px;
  margin-left: 10px; */
  text-align: center;
  /* border: dashed #c3c3c3; */
      border: dashed 7px #C3C3C5;

  height: 100%;
  width: 100%;


  background-color: white;
}

.carta_enemiga_contenedor{ 
  /* background-color: red; */
height: 70%;
box-sizing: border-box;
overflow: hidden;
}
.ui-draggable-dragging{
  z-index: 10;
}
.personaje_nombre{
  /* background-color: blue; */
    height:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta_enemiga{   
  
  /* background-color: #c3c3c5; */
  height: 166px;
  
  /* background-color: #c3c3c5; */
  height: 85%;
  width: 100%;
  aspect-ratio: 1/1.4;

  box-sizing: border-box;
  padding: 9px;


}

.personaje_carta_img{
  height: 100%;
    /* padding: 15%; */
    /* height: 90%; */
    /* margin: 5%; */
   /*  background-color: red;
    
    background-image: url("img/cartas/00.png");   */

    background-color: #c3c3c5;
    /* background-color: #37486a; */
    background-size: cover;
}


#mazo_lista{
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #00000096;
  color: white;
}
/* #enemy_2_vida{
  height: 10%;
  background-color: #445060;



    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */
.personaje_vida{
  height: 10%;
  background-color: #445060;



    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.personaje_vida_barra{
  background-color: green;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.personaje_puntos_vida{
  z-index: 3;
}

.enemigo_hover{
  /* background-color: #ad3d3d;     
  border: dashed 7px #623131;
  border:  dashed 7px transparent; */

  border: dashed 7px #e56d6d;
}

#modal_victoria{    position: absolute;
width: 100%;
height: 100%;
display: flex;
/* display: block; */
/* background-color: #ff000075; */
background-color: #040616c7;
background-color: #040616ed;
background-color: #040616f5;
justify-content: center;
align-items: center;
z-index: 100;
opacity: 0%;
display: none;

animation-name: fade_in;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

#victoria_banner {
  width: 100%;
  height: 0px;
  background-color: #272938;
  background-color: #1d4e39;
  /* animation-duration: 0.4s; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade_in 0.4s 0.5s forwards, expand_50 0.5s 0.5s forwards;
  filter: drop-shadow(10px 2px 25px #040616ed);
}


#modal{    position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* display: block; */
  /* background-color: #ff000075; */
  background-color: #040616c7;
  background-color: #040616ed;
  background-color: #040616f5;
  justify-content: center;
  align-items: center;
  z-index: 100;
opacity: 0%;
display: none;

  animation-name: fade_in;
  animation-duration: 0.5s;
  /* animation-delay: 0.1s; */
  animation-fill-mode: forwards;

  /* transition: visibility 0s, opacity 0.5s linear; */
  /* filter: blur(0px); */
}
#modal_stuff{
  display: flex;
  height: 45%;
  width: 85%;

  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#modal_stuff img{
  height: 115%;  
  opacity: 0;  
  animation: fade_in 1s 0.6s forwards, fall_30px 0.6s 0.6s forwards;
  pointer-events: all;

}
.muerto{

  background-color: #445060;
}

.derrota{
  height: 100%;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
   display: none; 
}
.muerto  .personaje_carta_img{
  background-color: #2d2d3c;
  
}
.muerto  .derrota{
 display: flex;
  
}
#modal_descripcion{
  background-color: black;
  color: white;
  min-width: 60%;
  height: 0%;
  text-align: center;
  /* margin-left: 49px; */
  margin-left: 5%;
  pointer-events: all;

  /* animation-delay: 0.5s; */
  animation: expand_80 0.3s 0.5s forwards, fade_in 0.5s 0.5s forwards;
}


#modal_descripcion p{
  opacity: 0;    padding-top: 20px;
  font-size: 20px;
  animation: fade_in 1s 0.6s forwards, fall_30px 0.7s 0.6s forwards;
}







#cartas{
  height: var(--cartas-height);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  /* box-shadow: 0 0 0px 2px #3a507a; */
  /* background-color: #000000c2; */
  /* background-color: #192132; */
  
}
carta{
  display: block;

   height: 182px; 
   height: var(--card-height); 
  aspect-ratio: 1/1.4;
  background-color: white;
  margin-right: var(--cards-gap);
  margin-left: var(--cards-gap);


  /* background-image: url(img/cartas/00.png); */
  background-position: center;
  background-size: cover;
  position: relative;


  /* box-shadow: 0px 4px 11px 1px #0000009e; */
   box-shadow: 0px 2px 4px 1px #0000009e; 
  overflow: hidden;
  /* border-radius: 6px; */
}
.clickeado, .carta:hover {
  margin-bottom: 25px; 
/*    margin-bottom: var(--card-height); */
}
.carta_texto{
  height: 29%;
  /* max-height: 15%; */
  width: 100%;
  /* background-color: white; */
  position: absolute;
  bottom: 0px;
  transition: height 0.4s;
  /* display: flex; */
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  font-size: var(  --dynamic-card-title-font-size ); 
  text-align: center;
  transition-timing-function: ease-in-out;
  pointer-events: none;
  color: red;
  display: none;

  
}

.carta_nombre{
  color: white;
text-transform: uppercase;
}
.carta_descripcion{
  color: #696f81;

}


#cartas_fondo{
  height: var(--cartas-height);
  background-color: #192132;
  width: 100%;
  position: absolute;
  bottom: 0;
}




#full {
  background-color: transparent;
  color: white;
  /* font-family: sans-serif; */
  margin: 10px;
  margin:6px;
  /* float: right; */
  position: absolute;
  /* border-radius: 20%; */
  right: 0px;
  /* transition: 0.5s; */
  /* -webkit-transition: 0.5s; */
  z-index: 105;
  top: 0;
}
#fullwiev {
  background-color: black;
  position: absolute;
  right: 0px;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: inherit;
  outline: 0;
  text-decoration: none;
}
#fullwiev img{

  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  /* fill: red; */
  /* filter: invert(1); */

}
#contenedor_full:requestFullscreen >  #full #fullwiev {display: none;}
#contenedor_full:-moz-full-screen >  #full #fullwiev {display: none;} /* Firefox */
#contenedor_full:-webkit-full-screen >   #full #fullwiev {display: none;} /* Chrome, Safari & Opera */
#contenedor_full:-msRequestFullscreen >  #full #fullwiev {display: none;} /* IE/Edge */



#top{
/*   background-color: black;
background-color: #1b2033; */
  height: 60px;
  /* width: 150px; */
  width: 100vw;
  position: absolute;
  display: block;
  top: 0;
  z-index: 100;
}


#game{display: none;}





.carta_texto , .personaje_puntos_vida, .personaje_nombre, .derrota{    user-select: none;}
#fullwiev img {  user-select: none;}

/* #aspect_ratio_container_game{
background-image: url("full_background4.png");
}
#aspect_ratio{ background-color: #37486a00; }
#tablero {
  background-color: #4053780c;
}
*/


 	/* The animation code */
   @keyframes fade_in {
    from { opacity: 0;}
    to {opacity: 100;}
  }
  
    /* The animation code */
    @keyframes expand_80 {
    from { height: 0%;}
    to {height: 80%;}
  }
    /* The animation code */
    @keyframes expand_50 {
    from { height: 0%;}
    to {height: 50%;}
  }
  
    /* The animation code */
    @keyframes fall_30px {
    from { margin-top: -30px;}
    to {  margin-top: 0px;}
  }