body { background-color:#fafafa;}
.container { margin:0px auto;}
carta{
    background-color: red;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    list-style: none;
    color: white;
    cursor: pointer;
    /* width: 100px;
    background-image: url("img/cartas/ataque.png"); */



    background-color: transparent;
    width: 155px;
    background-image: url("img/cartas/1.png");
    height: 238px;
    background-size: contain;
          background-repeat: no-repeat;
}
.drop {
    margin: 20px 0;
    padding: 5px;
    border: 2px dotted orange;
    border-radius: 5px;
}
.drop2 {
    margin: 20px 0;
    padding: 5px;
    border: 2px dotted orange;
    border-radius: 5px;
}
.drop2.hovering {
    background-color: #F6BF66;
}
.drop.hovering {
    background-color: #F6BF66;
}
.draggable.dragging, .draggable .dragging {
    opacity: 0.5;
}
