body { 
    background-color:#fafafa;
    background-color:#000000;
     margin: 0px auto;
     overflow: hidden;
    }


    section {
        height: 100vh;
        width: 100%;
        position: absolute;
    }
    section#enemy_section,  section#player_section {
        height: auto;
      width: 50%;
        position: relative;
    }

    .preloader {
        margin-left: 15000px;
        position: fixed;
        /* font-family: Franklin Gothic Demi; */
    }

.container { margin:0px auto;}
carta{
    background-color: red;
    padding: 15px;
    margin: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: white;
    cursor: pointer;
    /* width: 100px;
    background-image: url("img/cartas/ataque.png"); */



    background-color: transparent;
    width: 130px;
    background-image: url("img/cartas/1.png");
    height: 200px;
    background-size: contain;
          background-repeat: no-repeat;
}
#seleccion_de_personajes, #personaje_seleccionado, #seleccion_de_enemigo{    background-color: #ffffff;}
#mazo_inicial_div{ display: flex;     width: 300px;
    flex-wrap: wrap;}
    #mazo_inicial_div .thumbnail_card {
        height: 86px;
        width: 60px; }
.thumbnail_card{height: 149px;
    width: 104px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
    #recompenzas,#mazo_a_borrar{ display: flex;text-align: center;    justify-content: center;}
    .drop, #jugador{user-select: none;

        -webkit-user-select: none;
        
        -moz-user-select: -moz-none;}
#recompenzas .thumbnail_card {
    padding-top: 135px;
    text-align: center;
        /* height: 149px; */
        height: auto;
        width: 104px;
        background-position: top;
        /* background-size: cover; */
        background-size: contain;
        background-repeat: no-repeat;

        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
}
#mazo_a_borrar .thumbnail_card {
    padding-top: 135px;
    text-align: center;
        /* height: 149px; */
        height: auto;
        width: 104px;
        background-position: top;
        /* background-size: cover; */
        background-size: contain;
        background-repeat: no-repeat;
}
.drop {
    /* margin: 20px 0;
    padding: 5px; */
    /* border: 2px dotted orange;  */
    border-radius: 5px;
    /* display: flex!important; */
    /* flex-wrap: wrap; */
    /* align-items: flex-end;
    height: 483px; */
    border: 2px dotted #ffa50000;
}

.drop2 {
    /* margin: 20px 0; */
    /* padding: 5px; */
    /* border: 2px dotted #ffa50069; */
    /* border-radius: 5px; */
    height: -webkit-fill-available;
    border: 2px dotted #ffa50000;
}
.drop2.hovering {
    /* background-color: #ffa5001f;
    border: 2px dotted red; */
    background-color: #ffa5000f;
    border: 2px dotted #ff9e21;

}
.drop.hovering {
    /* background-color: #ffa5001f; */
    border: 2px dotted red;
    border-radius: 5px;
    /* display: flex!important; */
    background-color: #ff00003b;
}
.draggable.dragging, .draggable .dragging {
    opacity: 0.5;
}
/* .draggable_clone{ width: 50px;} */







#main_container {
    height: 100vh;
    width: 100vw;
    background-color: #56655d;
    overflow: hidden;

    background-image: url(img/001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#top {
    /* background-color: #5c6675; */
    height: 75%;
    position: relative;

   
}
#bottom {
    /* background-color: #3333406e; */
    display: flex;
    /* background-image: linear-gradient(#ff000000, #2c3530); */
    /* height: 33.3%; */
    height: 25%;
}
#mazo2 {
     /* background-color: #121212;  */
    color: white;
    height: 100%;
    /* box-shadow: inset -1px -1px 0px 0px; */
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

}
#mano2 {
    /* background-color: #1f1f1f; */
    height: 100%;
    /* box-shadow: inset -1px -1px 0px 0px; */
    width: 70%;
    display: flex;
    justify-content: center;   
     /* overflow: scroll; */
    overflow-y: hidden;

    /* padding: 5px; */
}#descarte {
    /* background-color: #121212;  */
    color: white;
    height: 100%;
    /* box-shadow: inset -1px -1px 0px 0px; */
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}



#player_section {
    /* background-color: blue; */
    width: 50%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#enemy_section {
    /* background-color: red; */
    width: 70%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#enemys{    display: flex;}

#jugador{    height: 480px;
    display: flex;
    align-items: flex-end;}
    #content_drop{ height: 488px;
        display: flex;
        align-items: flex-end;}

#pdv_enemy_2{margin: 0px;}

#player_section { 
    /* justify-content: flex-end;  */
    padding-left: 15%;
}
#enemy_section { 
    /* justify-content: end;     width: 70%; */
    padding-right: 15%;
} 

/* #top img{ width: 300px; height: auto;} */

#player_img_div{ border: 2px dotted #ffa50000; }

@media only screen and (max-width: 800px) {
    #top {height: 60%;}
    #bottom {height: 40%;}

    #top img{ width: 100px; height: auto;}

    .normal_enemy{width: 100px !important; height: auto; }
    .big_enemy{width: 150px !important; height: auto; }
    .boss_enemy{width: 200px !important; height: auto; }

    carta {margin-top: 2px; width: 72px;}
    /* .drop {

        height: 190px;
    } */
    #content_drop{ height: 200px; }
    #jugador{ height: 207px; }
    #descarte {padding-right: 10px;}


    #player_section, #enemy_section {

        align-items: flex-end;
    }
  }